* {
    margin: 0;
}

.text-discription {
    font-size: 18px;

    padding-left: 200px;
    padding-right: 200px;

}

.contain {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {

    text-align: center;
    padding: 100px;
    color: white;
}



.button {
    color: #ffff;
    background: tomato;
    border: 0;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;

}

.head {
    margin: 20;
    font-weight: 700;
    font-size: 55px;

}

.donation-head {
    margin: 50px;
    text-align: center;
}

/* dponat tk stayle */

.box-caption {
    padding: 30px;
    margin: auto;
}

.box {
    display: flex;
    /* padding: 200px; */
    justify-content: space-around;
    align-items: center;
    /* padding-left: 300px;
    padding-right: 300px;
} */
    padding-top: ;
}

.box-model {
    background-color: rgb(151, 223, 223);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    /* padding: 10px; */

}

.box-modele {
    background-color: #db5f5f;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: 3px solid red;


}

.center {
    color: darkgrey;
    text-align: center;
    margin-top: 20px;
}

/* icon continar */

.box-2 {
    display: flex;
    gap: 40px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

.flex-1 {
    background: #4F9DA6;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    padding-top: 40px;
}

.flex-2 {
    background: #FF5959;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    padding-top: 40px;

}

.flex-3 {
    background: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    padding-top: 40px;

}

/* donation pic */
.salter {
    margin-bottom: 40px;

}

.box-1 {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 100px;
    background: red;
}

.hr {
    width: 50%;
    margin: auto;
}

.div {
    display: flex;
    background: mistyrose;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */

    padding: 50px;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.email {
    color: #FFF4D6;
    height: 30px;
    width: 250px;
    margin-top: 20px;
}

.footer {
    text-align: center;
    font-size: 20px;

}

.right {
    text-align: right;
}